.text {
  font-family: raleway, Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 42px;
  line-height: 50px;
}
.text:hover {
  font-family: montserrat, Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 42px;
  line-height: 50px;
  color: rebeccapurple;
}
.text:active {
  display: none;
}
